---
import BaseHead from "./components/BaseHead.astro";
import Footer from "./components/Footer.astro";
import Navbar from "./components/Navbar.astro";

const {
  image,
  title = "Impact Framework Plugin Registry",
  description = "Discover and contribute to the Impact Framework Plugin Registry, a platform for finding and adding plugins to measure and forecast software environmental impacts.",
  leftPatternTop = 300,
} = Astro.props;

const isExpertPage = Astro.request.url.includes("/experts");
const isProfilePage = Astro.request.url.includes("/profile");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="bg-accent-lightest-1">
    <main class="max-w-7xl mx-auto p-8 md:p-0 md:mt-8 md:px-8 z-0">
      <Navbar />
      <slot />
    </main>
    <Footer />
  </body>
</html>
